 <table style="width:100%">
 <tr>
    <th>Total Mandays: {{mandays}}</th>
  </tr>
  <tr>
    <th>Audit Hours: {{audit_hours}}</th>
    <th>Car Hours: {{car_hours}}</th>
  </tr>
  <tr>
    <td>Effeciency: {{audit_effeciency}}%</td>
    <td>Effeciency: {{car_effeciency}}%</td>
  </tr>
</table> 